# $Id: settings.cfg 620 2006-07-08 17:14:41Z Yukiko $
#
#

Elem	Settings
{
	// The following three (3) settings apply to the staticDeed script
	// PriceEditable
	// 0 - The price per square for a house is not changeable.
	// 1 - The price per square for a house is changeable.
    PriceEditable	1

	// SecuresEditable
	// 0 - The number of secures for a house are not changeable.
	// 1 - The number of secures for a house are changeable.
    SecuresEditable	1

	// LockDownsEditable
	// 0 - The number of lockdowns for a house are not changeable.
	// 1 - The number of lockdowns for a house are changeable.
    LockDownsEditable	1

	// 2026-08-10: RefreshTime (decay-refresh interval) and the
	// HouseValuesCount/HouseValuesDeterminedBy/HouseValueAppliedTo/
	// HouseValueDivisor/MaxHouseValue per-house-value account cap were
	// removed from here. Decay refresh now uses the shared Abandoned_Timeout
	// setting (:house:settings) via sign.RefreshHouse(), and the account cap
	// is now the unified, count-based MaxHousesPerAccount setting in
	// :house:settings, shared across house/staticHousing/customhousing.

	// PricePerSquareDeterminedBy
	// Options currently are under development but here are the three I will be implementing:
	// Default - The DefaultPricePerSqure setting will be used if this is chosen.
	// Note: This is currently the only option. If you set this to the one of the other
	// two options they will return the DefaultPricePerSqure for now.
	//
	// Note: The following two options are not yet implemented.
	// City - This will read from regions.cfg the price per square for a given city.
	// If there is no HousePricePerSquare entry in regions.cfg then the built-in default
	// price per square will be used. This requires the developer to enter a value for
	// each city in regions.cfg.
	// For example for Britain you might enter this element: HousePricePerSquare 3000
	// Presumably the more popular the city the higher the price per square would be.
	//
	// Market - The number of houses owned in a given city will have a bearing on the
	// price per square. The fewer houses available will cause the price to be more expensive.
	// Conversely the more houses available will cause the price to be less expensive.
	//
	// The Market option requires some thought on my part as to how it will be implemented
	// and may require some work on the part of the developer of each server. She may have
	// to gather a total of the houses available in a city. This number will have to
	// be entered somewhere. Once that is done everything else will be handled by a control script.
	// I will probably create some commands to aid in setting this up.
	//
	// Both City and Market settings will not return accurate values unless ALL static
	// structures that are to be made available for purchase within a city have been setup
	// in advance using the staticdeed command.
	// The Market option is a longer term goal and hasn't even been well thought out yet. :)
	//
	// PricePerSquareDeterminedBy	Default is the default setting.
    PricePerSquareDeterminedBy	Default

	// DefaultPricePerSquare
	// This can be any integer from 1 up to whatever the developer chooses.
    DefaultPricePerSquare	1000

	// LockdownDivisor is divided into the total square footage area to determine the
	// maximum number of lockdowns for a structure.
	// The formula is: (x * y * z) / LockdownDivisor where x and y are the dimensions of the level
	// and z is the number of levels.
	// LockdownDivisor 3 default
	LockdownDivisor 3

	// MinLockdowns is the minimum lockdowns that can be assigned to a structure.
	// If the total lockdowns is less than this then this will be the minimum default.
	// MinLockdowns 50 default
	MinLockdowns 25

	// SecureDivisor is divided into the total cubic area to determine the number of secures for a structure.
	// The formula is: (x * y * z) / SecureDivisor where x and y are the dimensions of the level
	// and z is the number of levels.
	// SecureDivisor 50 default
	SecureDivisor 50

	// MinSecures is the minimum secures that can be assigned to a structure.
	// If the total secures is less than this then this will be the minimum default.
	// MinSecures default is 2
	MinSecures 2

	// DebugLogging
	// 0 - Disable all [STATIC-HOUSING-DEBUG] Print() traces.
	// 1 - Enable all [STATIC-HOUSING-DEBUG] Print() traces.
	DebugLogging 1
}

