data/
mul/
realm/
*.dbg
*.dep
*.log
*.bat
*.dbg.txt
*.lst
*.ecl
config/servers.cfg
config/tiles.cfg
config/multis.cfg
scripts/ecompile.cfg
config/vendorinventory.cfg
leftovers.txt
objtypes.txt
scripts/blockLogin.src
pkg/systems/accounts/config/uoclient.cfg
