# ICP Lockpicking Config File
#
#
ICP Register
{
	Name		Lockpicking
	Version		2.0
	Description	The POL 095 Zulu Chestpicking package converted to POL 100
	Description	Conversion done by Alryc

	Creator		Alryc
	C_Email		alryc99@gmail.com
        
	Maintainer	Alryc
	M_Email		alryc99@gmail.com

	#Script	cmdlevel path

	#TextCmd	cmdlevel	path
	
}
