Item 0x0FAB
{
    Name dyetub
	Desc		dye tub
    VendorSellsFor 60
    VendorBuysFor 20
    script dyecheck
    DestroyScript ::maindestroy
}
Item 0x0FA9
{
    Name dyes
    VendorSellsFor 20
    VendorBuysFor 10
    script usedyes
    DestroyScript ::maindestroy
}

##########################
#	Dye Cabinet (crafting-station rollout, 2026-09-12) -- acts as its own
#	bottle+tub, see dyecabinet.src
##########################
Item 0xB128
{
	Name			DyeCabinetSouth
	Desc			Dye Cabinet
	Movable			0
	script			dyecabinet
}

Item 0xB129
{
	Name			DyeCabinetEast
	Desc			Dye Cabinet
	Movable			0
	script			dyecabinet
}
