# Item Groups
#
# Sets up an "item group" -- a random pool of items a spawnpoint set to
# type "Item Group" will pick from each time it spawns. Same shape as
# groups.cfg's NPC groups, but the "spawn" lines are item names/objtypes
# instead of NPC templates, and the key can be any string (not just a
# number).
#
# group GroupName
# {
#	spawn itemname1
#	spawn itemname2
# }

group TrapPool
{
	spawn DartTrap
	spawn GasTrap
	spawn ExplosionTrap
	spawn floorspikes1
	spawn floorspikes2
	spawn flametrap1
	spawn flametrap2
	spawn flametrap3
	spawn sawtrap1
	spawn sawtrap2
	spawn sawtrap3
	spawn sawtrap4
	spawn wallspikes1
	spawn wallspikes2
	spawn darttrap1
	spawn darttrap2
	spawn axetrap1
	spawn axetrap2
	spawn axetrap3
	spawn axetrap4
	spawn mushroom1
	spawn oilflask1
	spawn poisontrap1
	spawn poisontrap2
	spawn poisontrap3
}
