# Coordinates for buried treasure.
# Replaced britannia (unused facet) locations with britannia_alt / tokuno / malas / ilshenar spots - 08/14/2026

Location 1
{
    X    217
    Y    348
    Z    0
    R   "britannia_alt"
}
Location 2
{
    X    96
    Y    1823
    Z    0
    R   "britannia_alt"
}
Location 3
{
    X    1328
    Y    1557
    Z    0
    R   "britannia_alt"
}
Location 4
{
    X    2739
    Y    661
    Z    0
    R   "britannia_alt"
}
Location 5
{
    X    4040
    Y    2179
    Z    0
    R   "britannia_alt"
}
Location 6
{
    X    3699
    Y    2996
    Z    2
    R   "britannia_alt"
}
Location 7
{
    X    4503
    Y    3630
    Z    0
    R   "britannia_alt"
}
Location 8
{
    X    2153
    Y    3629
    Z    0
    R   "britannia_alt"
}
Location 9
{
    X    1826
    Y    2621
    Z    0
    R   "britannia_alt"
}
Location 10
{
    X    267
    Y    3854
    Z    1
    R   "britannia_alt"
}
Location 11
{
    X    3776
    Y    1953
    Z    0
    R   "britannia_alt"
}
Location 12
{
    X    3401
    Y    1471
    Z    0
    R   "britannia_alt"
}
Location 13
{
    X    2704
    Y    2871
    Z    0
    R   "britannia_alt"
}
Location 14
{
    X    2254
    Y    2274
    Z    0
    R   "britannia_alt"
}
Location 15
{
    X    3304
    Y    1906
    Z    0
    R   "britannia_alt"
}
Location 16
{
    X    505
    Y    1044
    Z    20
    R   "tokuno"
}
Location 17
{
    X    206
    Y    1065
    Z    10
    R   "tokuno"
}
Location 18
{
    X    99
    Y    631
    Z    22
    R   "tokuno"
}
Location 19
{
    X    883
    Y    514
    Z    44
    R   "tokuno"
}
Location 20
{
    X    1283
    Y    850
    Z    4
    R   "tokuno"
}
Location 21
{
    X    1130
    Y    1116
    Z    13
    R   "tokuno"
}
Location 22
{
    X    2349
    Y    775
    Z    -90
    R   "malas"
}
Location 23
{
    X    1178
    Y    1597
    Z    -90
    R   "malas"
}
Location 24
{
    X    1057
    Y    144
    Z    -90
    R   "malas"
}
Location 25
{
    X    339
    Y    864
    Z    -72
    R   "ilshenar"
}
Location 26
{
    X    382
    Y    328
    Z    -50
    R   "ilshenar"
}
Location 27
{
    X    1033
    Y    432
    Z    -80
    R   "ilshenar"
}
Location 28
{
    X    1539
    Y    226
    Z    -26
    R   "ilshenar"
}
Location 29
{
    X    1768
    Y    819
    Z    -24
    R   "ilshenar"
}
Location 30
{
    X    1329
    Y    971
    Z    20
    R   "ilshenar"
}
