# Note, regions found later in the file override those found earlier.

Global
{
	InitialUnits    50000
    
    // Verified against mul/tiledata.mul 2026-08-15: ore only comes from
    // rock- and cave-named land tiles - the complete set found in tiledata,
    // not just the subset originally listed here. Removed dirt, grass,
    // forest, "Voiddestruction" (0x53B/0x53C, leftover from the Nagash/Void
    // area), and unnamed/dead tiledata slots (0x53D-0x53F) that were mixed
    // into the old range-based list. The old "Nagash tiles" cave subset
    // (0x245-0x249) is included below as part of the full cave range.

    LandTile        0x00E4    // rock
    LandTile        0x00E5    // rock
    LandTile        0x00E6    // rock
    LandTile        0x00E7    // rock
    LandTile        0x00F4    // rock
    LandTile        0x00F5    // rock
    LandTile        0x00F6    // rock
    LandTile        0x00F7    // rock
    LandTile        0x0104    // rock
    LandTile        0x0105    // rock
    LandTile        0x0106    // rock
    LandTile        0x0107    // rock
    LandTile        0x0110    // rock
    LandTile        0x0111    // rock
    LandTile        0x0112    // rock
    LandTile        0x0113    // rock
    LandTile        0x0122    // rock
    LandTile        0x0123    // rock
    LandTile        0x0124    // rock
    LandTile        0x0125    // rock
    LandTile        0x01D3    // rock
    LandTile        0x01D4    // rock
    LandTile        0x01D5    // rock
    LandTile        0x01D6    // rock
    LandTile        0x01D7    // rock
    LandTile        0x01D8    // rock
    LandTile        0x01D9    // rock
    LandTile        0x01DA    // rock
    LandTile        0x021F    // rock
    LandTile        0x0220    // rock
    LandTile        0x0221    // rock
    LandTile        0x0222    // rock
    LandTile        0x0223    // rock
    LandTile        0x0224    // rock
    LandTile        0x0225    // rock
    LandTile        0x0226    // rock
    LandTile        0x0227    // rock
    LandTile        0x0228    // rock
    LandTile        0x0229    // rock
    LandTile        0x022A    // rock
    LandTile        0x022B    // rock
    LandTile        0x022C    // rock
    LandTile        0x022D    // rock
    LandTile        0x022E    // rock
    LandTile        0x022F    // rock
    LandTile        0x0230    // rock
    LandTile        0x0235    // rock
    LandTile        0x0236    // rock
    LandTile        0x0237    // rock
    LandTile        0x0238    // rock
    LandTile        0x0245    // cave
    LandTile        0x0246    // cave
    LandTile        0x0247    // cave
    LandTile        0x0248    // cave
    LandTile        0x0249    // cave
    LandTile        0x024A    // cave
    LandTile        0x024B    // cave
    LandTile        0x024C    // cave
    LandTile        0x024D    // cave
    LandTile        0x024E    // cave
    LandTile        0x024F    // cave
    LandTile        0x0250    // cave
    LandTile        0x0251    // cave
    LandTile        0x0252    // cave
    LandTile        0x0253    // cave
    LandTile        0x0254    // cave
    LandTile        0x0255    // cave
    LandTile        0x0256    // cave
    LandTile        0x0257    // cave
    LandTile        0x0258    // cave
    LandTile        0x0259    // cave
    LandTile        0x025A    // cave
    LandTile        0x025B    // cave
    LandTile        0x025C    // cave
    LandTile        0x025D    // cave
    LandTile        0x025E    // cave
    LandTile        0x025F    // cave
    LandTile        0x0260    // cave
    LandTile        0x0261    // cave
    LandTile        0x0262    // cave
    LandTile        0x0263    // cave
    LandTile        0x0264    // cave
    LandTile        0x0265    // cave
    LandTile        0x0266    // cave
    LandTile        0x0267    // cave
    LandTile        0x0268    // cave
    LandTile        0x0269    // cave
    LandTile        0x026A    // cave
    LandTile        0x026B    // cave
    LandTile        0x026C    // cave
    LandTile        0x026D    // cave
    LandTile        0x02BC    // cave
    LandTile        0x02BD    // cave
    LandTile        0x02BE    // cave
    LandTile        0x02BF    // cave
    LandTile        0x02C0    // cave
    LandTile        0x02C1    // cave
    LandTile        0x02C2    // cave
    LandTile        0x02C3    // cave
    LandTile        0x02C4    // cave
    LandTile        0x02C5    // cave
    LandTile        0x02C6    // cave
    LandTile        0x02C7    // cave
    LandTile        0x02C8    // cave
    LandTile        0x02C9    // cave
    LandTile        0x02CA    // cave
    LandTile        0x02CB    // cave
    LandTile        0x063B    // cave
    LandTile        0x063C    // cave
    LandTile        0x063D    // cave
    LandTile        0x063E    // cave
    LandTile        0x06CD    // rock
    LandTile        0x06CE    // rock
    LandTile        0x06CF    // rock
    LandTile        0x06D0    // rock
    LandTile        0x06D1    // rock
    LandTile        0x06DA    // rock
    LandTile        0x06DB    // rock
    LandTile        0x06DC    // rock
    LandTile        0x06DD    // rock
    LandTile        0x06EB    // rock
    LandTile        0x06EC    // rock
    LandTile        0x06ED    // rock
    LandTile        0x06EE    // rock
    LandTile        0x06EF    // rock
    LandTile        0x06F0    // rock
    LandTile        0x06F1    // rock
    LandTile        0x06F2    // rock
    LandTile        0x06FB    // rock
    LandTile        0x06FC    // rock
    LandTile        0x06FD    // rock
    LandTile        0x06FE    // rock
    LandTile        0x070D    // rock
    LandTile        0x070E    // rock
    LandTile        0x070F    // rock
    LandTile        0x0710    // rock
    LandTile        0x0711    // rock
    LandTile        0x0712    // rock
    LandTile        0x0713    // rock
    LandTile        0x0714    // rock
    LandTile        0x071D    // rock
    LandTile        0x071E    // rock
    LandTile        0x071F    // rock
    LandTile        0x0720    // rock
    LandTile        0x072B    // rock
    LandTile        0x072C    // rock
    LandTile        0x072D    // rock
    LandTile        0x072E    // rock
    LandTile        0x072F    // rock
    LandTile        0x0730    // rock
    LandTile        0x0731    // rock
    LandTile        0x0732    // rock
    LandTile        0x073B    // rock
    LandTile        0x073C    // rock
    LandTile        0x073D    // rock
    LandTile        0x073E    // rock
    LandTile        0x0749    // rock
    LandTile        0x074A    // rock
    LandTile        0x074B    // rock
    LandTile        0x074C    // rock
    LandTile        0x074D    // rock
    LandTile        0x074E    // rock
    LandTile        0x074F    // rock
    LandTile        0x0750    // rock
    LandTile        0x0759    // rock
    LandTile        0x075A    // rock
    LandTile        0x075B    // rock
    LandTile        0x075C    // rock
    LandTile        0x07C2    // rock
    LandTile        0x07C3    // rock
    LandTile        0x07C4    // rock
    LandTile        0x07D1    // rock
    LandTile        0x07D2    // rock
    LandTile        0x07D3    // rock
    LandTile        0x07D4    // rock
    LandTile        0x09EC    // rock
    LandTile        0x09ED    // rock
    LandTile        0x09EE    // rock
    LandTile        0x09EF    // rock
    LandTile        0x09F0    // rock
    LandTile        0x09F1    // rock
    LandTile        0x09F2    // rock
    LandTile        0x09F3    // rock
    LandTile        0x09F4    // rock
    LandTile        0x09F5    // rock
    LandTile        0x09F6    // rock
    LandTile        0x09F7    // rock
    LandTile        0x09F8    // rock
    LandTile        0x09F9    // rock
    LandTile        0x09FA    // rock
    LandTile        0x09FB    // rock
    LandTile        0x09FC    // rock
    LandTile        0x09FD    // rock
    LandTile        0x09FE    // rock
    LandTile        0x09FF    // rock
    LandTile        0x0A00    // rock
    LandTile        0x0A01    // rock
    LandTile        0x0A02    // rock
    LandTile        0x0A03    // rock
}

Region  Background
{
    UnitsPerArea        70
    SecondsPerRegrow    30
    Capacity            200000
    Range               0 0 5119 4095
    Realm               britannia
}

# Each other realm needs its own background Region block (with an explicit
# Realm) even though the coordinate ranges overlap with britannia's. The
# engine's resource depletion pool is tied to the Region object, not to
# (x,y,realm), so realms sharing a Region here would drain/regrow each
# other's ore supply by raw coordinate collision.

Region Sosaria Ore
{
	UnitsPerArea		70
	SecondsPerRegrow	30
	Capacity			3000000
	Range		0 0 7167 4095
	Realm		britannia_alt
}

Region Ilshenar Ore
{
	UnitsPerArea		70
	SecondsPerRegrow	30
	Capacity			500000
	Range		0 0 2303 1599
	Realm		ilshenar
}

Region Malas Ore
{
	UnitsPerArea		70
	SecondsPerRegrow	30
	Capacity			1000000
	Range		0 0 2559 2047
	Realm		malas
}

Region Tokuno Ore
{
	UnitsPerArea		70
	SecondsPerRegrow	30
	Capacity			1000000
	Range		0 0 1447 1447
	Realm		tokuno
}

Region Ter Mur Ore
{
	UnitsPerArea		70
	SecondsPerRegrow	30
	Capacity			500000
	Range		0 0 1279 4095
	Realm		termur
}
