Item 0x0dbf
{
	Name            FishingPole
	Script          fishing
	VendorSellsFor  15
	VendorBuysFor   2
	Weight           1
	equipscript	::skilladvancerequip
	unequipscript	::skilladvancerunequip
	DestroyScript	::maindestroy
}

Item 0xcdbf
{
	Name            GMFishingPole
	Desc			fishing pole
	Script          fishing
	Graphic			0x0dbf
	VendorSellsFor  150000
	VendorBuysFor   750
	Weight           1
	BlocksCastingIfInHand	0
	equipscript	::skilladvancerequip
	unequipscript	::skilladvancerunequip
	DestroyScript	::maindestroy
	CProp	EnchantColor	i2750
	CProp	IsGMItem	sFishing Rod of Sacrifice
	CProp	FishingBonus	i2
}

Item 0x09cc
{
    Name Fish1
    VendorSellsFor 8
    VendorBuysFor 1
	DecaysOnMultis 1
	Weight           1/10
}

Item 0x3AFD
{
    Name Moorishidol
    Desc Moorish Idol Fish%s
    Graphic 0x3AFD
    VendorSellsFor 8
    VendorBuysFor 1
    Weight           1/100
    Script	:cooking:cooking
}

Item 0x09cd
{
        Name Fish2
        VendorSellsFor 8
        VendorBuysFor 1
	DecaysOnMultis 1
	Weight           1/10
	Script	:cooking:cooking
}

Item 0x09ce
{
    Name Fish3
    VendorSellsFor 8
    VendorBuysFor 1
    DecaysOnMultis 1
    Weight           1/10
	Script	:cooking:cooking
}

Item 0x09cf
{
    Name Fish4
    VendorSellsFor 8
    VendorBuysFor 1
    DecaysOnMultis 1
    Weight           1/10
	Script	:cooking:cooking
}

Item 0x0dd6
{
    Name Fish5
    VendorSellsFor 14
    VendorBuysFor 1
    DecaysOnMultis 1
    Weight           1/10
}

Item 0x0dd7
{
    Name Fish6
    VendorSellsFor 14
    VendorBuysFor 1
    DecaysOnMultis 1
    Weight           1/10
}

Item 0x0dd8
{
    Name Fish7
    VendorSellsFor 14
    VendorBuysFor 1
    DecaysOnMultis 1
    Weight           1/10
}

Item 0x0dd9
{
    Name Fish8
    VendorSellsFor 14
    VendorBuysFor 1
    DecaysOnMultis 1
    Weight           1/10
}

Item 0x1E62
{
    Name Fishtrophy1
    Desc fishing trophy
    VendorSellsFor 200
    VendorBuysFor 100
    Weight           1
}

Item 0x1E69
{
    Name Fishtrophy2
    Desc fishing trophy
    VendorSellsFor 200
    VendorBuysFor 100
    Weight           1
}

Item 0xa360
{
    Name Sosbotle
    Desc SoS Bottle
    Script sosbottle
    Graphic 0x099F
    Weight           2/10
}

Item 0xa363
{
    Name Sosmessage
    Desc Sos Botle Message
    Script sosmessage
    Graphic 0x14EE
    Weight           1/10
}

Item 0xa365
{
    Name Sostile
    Desc water
    Graphic 0x1799
    Movable 0
}

Item 0xa366
{
    Name Fishingnet
    Desc special fishing net
    Script fishingnet
    Graphic 0xdca
    Color 300
    Weight           4
}

Item 0x352d
{
    Name Splash1
    SaveOnExit 0
    Movable	0
}

// Fishing Shell Stuff
Item 0x80ae
{
    Name Fishshell1
    Graphic 0xfc4
    Weight   1
    Desc Aquaria Shell 1
    Color 0x504
    CProp st i1
}

Item 0x80be
{
    Name Fishshell2
    Graphic 0xfc5
    Weight   1
    Desc Capricornia Shell 2
    Color 0xB07
    CProp st i2
}

Item 0x80ce
{
    Name Fishshell3
    Graphic 0xfc6
    Weight   1
    Desc Sea Nymph 3
    Color 0x606
    CProp st i3
}

Item 0x80de
{
    Name Fishshell4
    Graphic 0xfc7
    Weight   1
    Desc Neptune's Nautilus 4
    Color 0x505
    CProp st i4
}

Item 0x80ee
{
    Name Fishshell5
    Graphic 0xfc8
    Weight   1
    Desc Sea Shore Sand Dollar 5
    Color 0x8FB
    CProp st i5
}

Item 0x81ae
{
    Name Fishshell6
    Graphic 0xfc9
    Weight   1
    Desc Divinia Shell 6
    Color 0xac3
    CProp st i6
}

Item 0x81be
{
    Name Fishshell7
    Graphic 0xfca
    Weight   1
    Desc Mermaid Shell 7
    Color 0xab8
    CProp st i7
}

Item 0x81ce
{
    Name Fishshell8
    Graphic 0xfcb
    Weight   1
    Desc Ocean Odyssey 8
    Color 0xab0
    CProp st i8
}

Item 0x81de
{
    Name Fishshell9
    Graphic 0xfcc
    Weight   1
    Desc Talimari 9
    Color 0xac0
    CProp st i9
}

# Magic Fish

Item 0xA368
{
    Name             Magicfish1
    Desc             Bless Fish
    Script           magicfish
    Graphic          0x0dd6
    VendorSellsFor   20
    VendorBuysFor    4
    DecaysOnMultis 1
    Weight           1/100

    // Bless spell
    CProp spellnum i17
    CProp spellsound i491
    CProp spelleffect i14138
    CProp miscprop1 i10 			// adjusts the stat gain
    CProp miscprop2 i300			// adjusts duration of effect
}

Item 0xA369
{
    Name             Magicfish2
    Desc             Agility Fish
    Script           magicfish
    Graphic          0x0dd6
    Color            41
    VendorSellsFor   20
    VendorBuysFor    4
    DecaysOnMultis 1
    Weight           1/100

    // Agility spell
    CProp spellnum i9
    CProp spellsound i488
    CProp spelleffect i14154
    CProp miscprop1 i10			// adjusts the stat gain
    CProp miscprop2 i300		// adjusts duration of effect
}

Item 0xA36A
{
    Name             Magicfish3
    Desc             Cunning Fish
    Script           magicfish
    Graphic          0x0dd6
    Color            51
    VendorSellsFor   20
    VendorBuysFor    4
    DecaysOnMultis 1
    Weight           1/100

    // Cunning spell
    CProp spellnum i10
    CProp spellsound i492
    CProp spelleffect i14170
    CProp miscprop1 i10 		// adjusts the stat gain
    CProp miscprop2 i300		// adjusts duration of effect
}

Item 0xA36B
{
    Name             Magicfish4
    Desc             Strength Fish
    Script           magicfish
    Graphic          0x0dd6
    Color            61
    VendorSellsFor   20
    VendorBuysFor    4
    DecaysOnMultis 1
    Weight           1/100

    // Strength spell
    CProp spellnum i16
    CProp spellsound i495
    CProp spelleffect i14186
    CProp miscprop1 i10			// adjusts the stat gain
    CProp miscprop2 i300		// adjusts duration of effect
}

Item 0xA36C
{
    Name             Magicfish5
    Desc             Cure Fish
    Script           magicfish
    Graphic          0x0dd6
    Color            91
    VendorSellsFor   20
    VendorBuysFor    4
    DecaysOnMultis 1
    Weight           1/100

    // Cure spell
    CProp spellnum i11
    CProp spellsound i481
    CProp spelleffect i14201
    CProp miscprop1 i10			// adjusts the number of poison_level points cured
    CProp miscprop2 i0			// not used
}

Item 0xA36D
{
    Name             Magicfish6
    Desc             Heal Fish
    Script           magicfish
    Graphic          0x0dd6
    Color            9
    VendorSellsFor   20
    VendorBuysFor    4
    DecaysOnMultis 1
    Weight           1/100

    // Heal spell
    CProp spellnum i4
    CProp spellsound i499
    CProp spelleffect i14265
    CProp miscprop1 i50			// adjusts the number of hp healed
    CProp miscprop2 i0			// not used
}

Item 0xA36E
{
    Name             Magicfish7
    Desc             Invisibility Fish
    Script           magicfish
    Graphic          0x0dd6
    Color            1001
    VendorSellsFor   20
    VendorBuysFor    4
    DecaysOnMultis 1
    Weight           1/100

    // Invisibility spell
    CProp spellnum i44
    CProp spellsound i516
    CProp spelleffect i14122
    CProp miscprop1 i0			// not used
    CProp miscprop2 i0			// not used
}

Item 0xA36F
{
    Name             Magicfish8
    Desc             Night Sight Fish
    Script           magicfish
    Graphic          0x0dd6
    Color            21
    VendorSellsFor   20
    VendorBuysFor    4
    DecaysOnMultis 1
    Weight           1/100

    // Night Sight spell
    CProp spellnum i6
    CProp spellsound i484
    CProp spelleffect i14360
    CProp miscprop1 i0			// adjusts the light level
    CProp miscprop2 i1800		// adjusts duration of effect
}

Item 0xA370
{
    Name             Magicfish9
    Desc             Teleport Fish
    Script           magicfish
    Graphic          0x0dd6
    Color            2735
    VendorSellsFor   20
    VendorBuysFor    4
    DecaysOnMultis 1
    Weight           1/100

    // Teleport spell
    CProp spellnum i22
    CProp spellsound i484
    CProp spelleffect i14360
    CProp miscprop1 i0			// not used
    CProp miscprop2 i0      	// not used
}
