##########################
#	Crafting Station Rollout (2026-09-12) -- Imbuing placeholder stations
##########################
Item 0x9966
{
	Name			Amalgamator
	Desc			Amalgamator
	Movable			0
	Script			:imbuingstub:imbuing_stub
}

Item 0xA73F
{
	Name			EnchanterSouth
	Desc			Enchanter
	Movable			0
	Script			:imbuingstub:imbuing_stub
}

Item 0xA740
{
	Name			EnchanterEast
	Desc			Enchanter
	Movable			0
	Script			:imbuingstub:imbuing_stub
}
